.row {
    display: flex;
    box-sizing: border-box;
}

div {
    padding: 5px 0;
}

.title {
    display: flex;
    width: 50%;
    padding: 0 5px;
}

.price {
    width: 15%;
    padding: 0 5px;
}

.quantity {
    width: 10%;
    padding: 0 5px;
}

.Total {
    width: 15%;
    padding: 0 5px;
    font-weight: bolder;
    color: green;
}

.Actions {
    width: 10%;
    padding: 0 5px;
    text-align: center;
    box-sizing: border-box;
}
.completed{
    text-decoration: line-through;
    color: #ccc;
}
